Options +FollowSymlinks
RewriteEngine On
RewriteRule ^index$ index.php [L]
RewriteRule ^login$ index.php?to=login [L]
RewriteRule ^home$ index.php?to=home [L]
RewriteRule ^parametres-visiteur$ index.php?to=parametresVisiteur [L]
RewriteRule ^mes-fiches-frais$ index.php?to=mesFichesFrais [L]
RewriteRule ^deconnexion$ index.php?to=deconnexion [L]
